<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


</head>
<body>
  
    <form method="POST" action="/upload" enctype="multipart/form-data" > 
        <input type="file" name='프로필'>
        <button type="submit">전송</button>
    </form>


</body>
</html>